<div class="antialiased bg-gray-50 dark:bg-gray-900">
    <main class="p-4 h-auto">

      <div  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
        <!-- Vehicles Card -->
        <div id="vehicleCard" class="bg-indigo-100 shadow rounded-lg h-32 md:h-64"       >
          <div class="flex items-center justify-between p-4 text-gray-700 dark:text-gray-300 text-lg">
            <h1>Vehicles</h1>
          </div>
          <div class="flex items-center m-2">
            <span class="flex w-3 h-3 m-1 bg-green-500 rounded-full"></span>
            <p>Ready:</p>
          </div>
          <div class="flex items-center m-2">
            <span class="flex w-3 h-3 m-1 bg-yellow-500 rounded-full"></span>
            <p>Trip:</p>
          </div>
          <div class="flex items-center m-2">
            <span class="flex w-3 h-3 m-1 bg-red-500 rounded-full"></span>
            <p>Maintence:</p>
          </div>
        </div>


        <div id="tripCard" class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64">
          <div class="flex items-center justify-between p-4 text-gray-700 dark:text-gray-300 text-lg">
            <h1>Trips</h1>
          </div>
          <div class="flex items-center m-2">
            <span class="flex w-3 h-3 m-1 bg-green-500 rounded-full"></span>
            <p>To start:</p>
          </div>
          <div class="flex items-center m-2">
            <span class="flex w-3 h-3 m-1 bg-yellow-500 rounded-full"></span>
            <p>Started:</p>
          </div>
          <div class="flex items-center m-2">
            <span class="flex w-3 h-3 m-1 bg-red-500 rounded-full"></span>
            <p>Ended:</p>
          </div>
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"
        >Motoristas</div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"
        ></div>
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
      ></div>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
      ></div>
      <div class="grid grid-cols-2 gap-4">
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
      </div>
    </main>
  </div>
