<div class="container">
    <form (ngSubmit)="register()">
      <div>
        <label for="nome">Nome</label>
        <input
          type="text"
          id="nome" [(ngModel)]="admin.nome" name="nome"
          required
        />
      </div>
      <div>
        <label for="cpf">cpf</label>
        <input
          type="text"
          id="cpf" [(ngModel)]="admin.cpf" name="cpf"
          required
        />
      </div>
      <div>
        <label for="email">email</label>
        <input
          type="email"
          id="email" [(ngModel)]="admin.email" name="email"
          class="form-input rounded-full px-4 py-3"
          required
        />
      </div>

      <div>
        <label for="senha">senha</label>
        <input
          type="text"
          id="senha"
          [(ngModel)]="admin.senha"
          name="senha"
          required
        />
      </div>

      <button type="submit">Adicionar</button>
    </form>
  </div>
